<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Blog</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <!-- Navigation goes here (you can also have this as a partial if it gets too large) -->

    {{{body}}} <!-- This will render the content of your pages -->

    <!-- Add any JavaScript files at the end -->
</body>

</html>
